<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.darioArevalo.biblioisais">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/orange"
        android:label="@string/app_name"
        android:roundIcon="@drawable/orange"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiblioIsais"
        tools:ignore="AllowBackup">

        <activity android:name=".ui.main.splash.SplashActivity"
            android:theme="@style/Theme.BiblioIsais.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.darioArevalo.biblioisais.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/providerfile" />
        </provider>

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.BiblioIsais.NoActionBar"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>

    </application>
</manifest>

